/* Card styles */
.card {
    flex: 0 0 300px;
    background-color: var(--card-background);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    scroll-snap-align: start;
    position: relative;
    min-width: 250px;
    max-width: 250px;
    flex-shrink: 0;
    cursor: grab;
    user-select: none;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.card-close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 16px;
    line-height: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    z-index: 1500;
}

.card-close-btn:hover {
    background: rgba(0, 0, 0, 0.7);
}

.card-image {
    width: 100%;
    height: 96px;
    object-fit: cover;
    z-index: 1;
}

.card-content {
    position: relative;
    padding: 15px;
    background-color: rgba(var(--card-background-rgb), 0.8);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    transition: opacity 0.3s;
    z-index: 0;
}

.card:hover .card-background {
    opacity: 0.9;
}

.card h3 {
    margin-top: 0;
    font-size: 1em;
    color: var(--text-color);
}

.card p {
    font-size: 0.9em;
    margin-top: -10px;
    margin-bottom: 10px;
    color: var(--text-color);
    flex-grow: 1;
    overflow: hidden;
}

.card a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    color: var(--subtext-color);
    margin-top: auto;
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}

.time-ago, .feed-name {
    display: inline-block;
}

/* Custom scrollbar styles */
.card::-webkit-scrollbar {
    width: 8px;
}

.card::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
}

.card::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
}

.card::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color);
}

.card::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-thumb-active-color);
}