/* Feed section styles */

#feedsContainer {
    flex: 1;
    min-width: 0;
    background-color: var(--card-background);
}

.feed-section {
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.feed-title {
    font-size: 1.5em;
    color: var(--text-color);
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--primary-color);
}

.feed-category {
    font-size: 0.8em;
    color: var(--text-color);
    font-weight: normal;
}

/* Feed content styles */
.feed-content {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 20px;
    scroll-snap-type: none;
    gap: 20px;
}

.feed-content::-webkit-scrollbar {
    height: 5px; /* Ancho de la barra de desplazamiento */
}

.feed-content::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo del riel de la barra de desplazamiento */
    border-radius: 5px; /* Bordes redondeados del riel */
}

.feed-content::-webkit-scrollbar-thumb {
    background: #888; /* Color del "pulgar" de la barra de desplazamiento */
    border-radius: 5px; /* Bordes redondeados del "pulgar" */
}

.feed-content::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del "pulgar" cuando está en modo hover */
}


.feed-content.active {
    cursor: grabbing;
}

/* Card styles */
.card {
    flex: 0 0 300px;
    margin-right: 20px;
    background-color: var(--card-background);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    scroll-snap-align: start;
    position: relative;
    min-width: 300px;
    flex-shrink: 0;
    cursor: grab;
    user-select: none;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.card-image {
    width: 100%;
    height: 96px;
    object-fit: cover;
    z-index: 1;
}

.card-content {
    position: relative;
    padding: 15px;
    background-color: rgba(var(--card-background-rgb), 0.8);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    transition: opacity 0.3s;
    z-index: 0;
}

.card:hover .card-background {
    opacity: 0.9;
}

.card h3 {
    margin-top: 0;
    font-size: 1em;
    color: var(--text-color);
}

.card p {
    font-size: 0.9em;
    margin-top: -10px;
    margin-bottom: 10px;
    color: var(--text-color);
    flex-grow: 1;
    overflow: hidden;
}

.card a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    color: #666;
    margin-top: auto;
    padding-top: 10px;
    border-top: 1px solid #6666666e;
}

.time-ago, .feed-name {
    display: inline-block;
}

/* Feed list styles */
#feedList {
    margin-top: 40px;
    background-color: var(--card-background);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#feedList h2 {
    color: var(--text-color);
    margin-top: 0;
}

/* Feed item styles */
.feedItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.feedItem:last-child {
    border-bottom: none;
}

.feed-actions {
    display: flex;
    gap: 10px;
}

.feedItem button {
    padding: 5px 10px;
    font-size: 0.8em;
    border-radius: 4px;
    cursor: pointer;
}

.feedItem button:first-child {
    background-color: var(--primary-color);
}

.feedItem button:first-child:hover {
    background-color: #2980b9;
}

.feedItem button:last-child {
    background-color: #e74c3c;
}

.feedItem button:last-child:hover {
    background-color: #c0392b;
}
