/* Global styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
    overflow-x: hidden;
}

/* Container styles */
.container {
    max-width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

/* Media query for mobile devices se aplica cuando estoy en mobiles */
@media screen and (max-width: 768px) {
    .container {
        padding: 0 0px;
    }
}

.content-wrapper {
    display: flex;
    gap: 20px;
    max-width: 100%;
    overflow: hidden;
}

/* Footer styles */
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}

/* Loader styles */
.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid var(--primary-color);
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Error message styles */
.error-message {
    color: red;
    text-align: center;
    margin: 20px 0;
}
