/* Header styles */
header {
    background-color: var(--primary-color);
    color: white;
    padding: 30px 0;
    margin-bottom: 40px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

header::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(255, 255, 255, 0.05) 50%,
        transparent 50%
    );
    transform: rotate(-5deg);
    z-index: 1;
}

h1 {
    margin: 0;
    font-size: 3em;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
}

/* Color mode select styles */
#colorModeSelect {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.95em;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 15px top 50%;
    background-size: 12px auto;
    padding-right: 40px;
}

#colorModeSelect:hover, #colorModeSelect:focus {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    outline: none;
    transform: translateY(-2px);
}

#colorModeSelect option {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
}

/* Custom dropdown arrow */
#colorModeSelect::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 0.8em;
    opacity: 0.7;
}

/* Oculta los botones por defecto */
.color-mode-button {
    display: none;
}

/* Muestra los botones cuando el mouse está sobre el contenedor */
#colorModeSelect:hover .color-mode-button {
    display: inline-block;
}