:root {
    --primary-color: #3498dba9;
    --secondary-color: #2c3e50;
    --background-color: #f5f7fa;
    --card-background: #ffffff;
    --text-color: #333333;
    --card-background-rgb: 255, 255, 255;
    --border-color: #dcdcdc;
    --active-element-bg: #e6e9ed;
    --hover-element-bg: #f0f2f5;
    --subtext-color: #666666;
    --scrollbar-track-color: #f1f1f1;
    --scrollbar-thumb-color: #888888;
    --scrollbar-thumb-hover-color: #555555;
    --scrollbar-thumb-active-color: #333333;
    --header-text-color: #ffffff; /* El fondo de este texto siempre es el primary-color para tener en cuenta que sea legible*/
}

/* Modo oscuro mejorado */
.dark-mode {
    --primary-color: #3498db;
    --secondary-color: #34495e;
    --background-color: #1a1f2c;
    --card-background: #2c3e50;
    --text-color: #ecf0f1;
    --card-background-rgb: 44, 62, 80;
    --border-color: #34495e;
    --active-element-bg: #3a506b;
    --hover-element-bg: #415a77;
    --subtext-color: #bdc3c7;
    --scrollbar-track-color: #2c3e50;
    --scrollbar-thumb-color: #34495e;
    --scrollbar-thumb-hover-color: #415a77;
    --scrollbar-thumb-active-color: #3a506b;
    --header-text-color: #ffffff; /* El fondo de este texto siempre es el primary-color para tener en cuenta que sea legible*/
}

/* Colores pastel mejorados */
.pastel-colors {
    --primary-color: #ffb3ba;
    --secondary-color: #ffdfba;
    --background-color: #bae1ff;
    --card-background: #bae1ff;
    --text-color: #333333;
    --card-background-rgb: 186, 225, 255;
    --border-color: #dcdcdc;
    --active-element-bg: #f0f0f0;
    --hover-element-bg: #e7e7e7;
    --subtext-color: #666666;
    --scrollbar-track-color: #f1f1f1;
    --scrollbar-thumb-color: #888888;
    --scrollbar-thumb-hover-color: #555555;
    --scrollbar-thumb-active-color: #333333;
    --header-text-color: #242424ec; /* El fondo de este texto siempre es el primary-color para tener en cuenta que sea legible*/
}

/* Colores oscuros y vibrantes mejorados */
.vibrant-dark-colors {
    --primary-color: #ff4757;
    --secondary-color: #5352ed;
    --background-color: #2f3542;
    --card-background: #1e272e;
    --text-color: #ffffff;
    --card-background-rgb: 30, 39, 46;
    --border-color: #3d3d3d;
    --active-element-bg: #2d3436;
    --hover-element-bg: #353b48;
    --subtext-color: #d2dae2;
    --scrollbar-track-color: #2f3542;
    --scrollbar-thumb-color: #ff4757;
    --scrollbar-thumb-hover-color: #5352ed;
    --scrollbar-thumb-active-color: #ff6b6b;
    --header-text-color: #ffffff; /* El fondo de este texto siempre es el primary-color para tener en cuenta que sea legible*/
}